.buttons{
    text-align: center;
}
.buttons div{
    display: none;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.flex div{
    width: 200px;
    height: 50px;
    background-color: brown;
    text-align: center;
}
.flex button{
    display: none;
}
.try{
    text-align: center;
}
.try button{
    background-color: rgb(137, 17, 173);
    width: 350px;
    height: 45px;
}
.try div{
    display: none;
}
button{
    background-color: aqua;
    width: 200px;
    height: 50px;
}

